@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "Lato", sans-serif;
    max-width: 1920px;
    margin: 0 auto;
}

/* shared styles */

.max-width{
    border: 3px solid salmon;
    max-width: 1440px;
    margin: 0 auto;
    margin-bottom: 125px;
}

.color-bg{
  background-color: rgba(229, 84, 115, 0.1);  
}

.btn-primary{
    padding: 20px 40px;
    background-color: #E55473;
    color: white;
    font-size: 20px;
    font-weight: 700;
    border: none;
    border-radius: 5px ;
}
.heading{
    font-size: 40px;
    font-weight: 800;
    line-height: 48px;
    color: rgb(39, 39, 39);
}

.paragraph{
    color: rgba(39, 39, 39, 0.6);
    font-size: 1.1em;
    font-weight: 400;
    line-height: 1.5em;
}
.text-center{
    text-align: center;
}

/* banner section */

.banner-container{
    display: flex;
    align-items: center;
    gap: 100px;
}
.banner-info{
    max-width: 700px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
}
.banner-heading{
    color: rgb(39, 39, 39);
    font-size: 5em;
    font-weight: 800;
    line-height: 1.1em;
}


/* feature section */

.featured{
    margin-top: 130px;
}

.featured-info{
    max-width: 550px;
    margin: 0 auto;
    padding: 48px 0;
}

.featured-text{
    color: rgba(39, 39, 39, 0.6);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.featured-images{
    display: flex;
    gap: 24px;
    justify-content: space-between;
}

.featured-image{
    height: 600px;
}

.featured-image > img{
    height: 538px;
    width: 460px;
    border-radius: 50% 50% 0 0;
}
.image1{
    background-color: rgba(167, 33, 98, 0.15);
}
.image2{
    background-color: rgba(5, 151, 160, 0.15);
}
.image3{
    background-color: rgba(71, 125, 17, 0.15);
}

.featured-image-title{
    color: rgb(39, 39, 39);
    font-size: 24px;
    font-weight: 700;
    text-decoration: underline;
    margin-top: 32px;
}

/* our speciality */

.speciality-container{
    display: flex;
    justify-content: space-evenly;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
}
.speciality{
    padding: 90px 0px;
    text-align: center;
}


/* offer section  */
.offer-container {
    display: grid;
    grid-template-columns: 60% 40%;
    align-items: center;
    justify-items: center;
}
.offer-info {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    max-width: 600px;
}
span.\.offer-off {
    color: rgb(229, 84, 115);
}

/* Instagram section  */

.insta-info {
    margin-bottom: 40px;
}
.insta-image-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.image img {
    border: 4px dotted darkgray;
}


/* media quary for smaller devices */

@media screen and (max-width:576px) {

/* banner section  */

    .banner-container {
        display: flex;
        align-items: center;
        gap: 0;
        flex-direction: column-reverse;
    }
    .banner-info {
        max-width:100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 32px;
    }
    .banner-image img{
        max-width: 100%;
    }

/* feature section  */

    .featured-images, .speciality-container{
        display: flex;
        gap: 24px;
        flex-direction: column;
        align-items: center;
    }
    .featured-image > img{
        width: 100%;
    }
    
/* speciality section  */

    .speciality{
        padding: 20px;
    }
/* offer section  */
    .offer-container {
        display: flex;
        flex-direction: column-reverse;
    }

    .insta-image-container{
        grid-template-columns: 100%;
    }
    .image img {
        width: 100%;
    }
}